/*  your css code here. If applicable */
.card{
	
	
     min-width:190px;
	min-height:300px;
	
	padding:10px;
	border-radius:10px;
	box-shadow:10px 1px 10px grey
	
}
.imge{
	width:150px
}
h2,h6,p{
	text-align:center;
}
